In [18]:
dataset = [['Skirt', 'Sneakers', 'Scarf', 'Pants', 'Hat'],

    ['Sunglasses', 'Skirt', 'Sneakers', 'Pants', 'Hat'],

    ['Dress', 'Sandals', 'Scarf', 'Pants', 'Heels'],

    ['Dress', 'Necklace', 'Earrings', 'Scarf', 'Hat', 'Heels', 'Hat'],

   ['Earrings', 'Skirt', 'Skirt', 'Scarf', 'Shirt', 'Pants']]

In [19]:
import mlxtend
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
te=TransactionEncoder()
te_ary=te.fit(dataset).transform(dataset)    #Apply one-hot-encoding on our dataset
df=pd.DataFrame(te_ary, columns=te.columns_)  #Creating a new DataFrame from our Numpy array
df

,Dress,Earrings,Hat,Heels,Necklace,Pants,Sandals,Scarf,Shirt,Skirt,Sneakers,Sunglasses
0,False,False,True,False,False,True,False,True,False,True,True,False
1,False,False,True,False,False,True,False,False,False,True,True,True
2,True,False,False,True,False,True,True,True,False,False,False,False
3,True,True,True,True,True,False,False,True,False,False,False,False
4,False,True,False,False,False,True,False,True,True,True,False,False

In [20]:
from mlxtend.frequent_patterns import apriori
apriori(df, min_support=0.6)

   support itemsets
0      0.6      (2)
1      0.8      (5)
2      0.8      (7)
3      0.6      (9)
4      0.6   (5, 7)
5      0.6   (9, 5)

In [21]:
frequent_itemsets=apriori(df, min_support=0.6, use_colnames=True) #Instead of column indices we can use column names.
frequent_itemsets

   support        itemsets
0      0.6           (Hat)
1      0.8         (Pants)
2      0.8         (Scarf)
3      0.6         (Skirt)
4      0.6  (Scarf, Pants)
5      0.6  (Pants, Skirt)

In [22]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="confidence",min_threshold=0.7) # associate itemsets with confidence over 70%.

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Scarf),(Pants),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
1,(Pants),(Scarf),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
2,(Pants),(Skirt),0.8,0.6,0.6,0.75,1.2500,0.12,1.6
3,(Skirt),(Pants),0.6,0.8,0.6,1.00,1.2500,0.12,inf

In [23]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="lift",min_threshold=1.25)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Skirt),(Pants),0.6,0.8,0.6,1.0,1.25,0.12,inf

In [24]:
import pandas as pd
data=pd.read_csv("Market_Basket_Optimisation.csv")
te1=TransactionEncoder()
te_ary1=te1.fit(data).transform(data)    #Apply one-hot-encoding on our dataset
df1=pd.DataFrame(te_ary1, columns=te1.columns_)  #Creating a new DataFrame from our Numpy array
df1

,,a,b,c,d,e,f,g,h,i,...,p,r,s,t,u,v,w,x,y,z
0,False,False,False,False,False,False,False,False,True,True,...,True,True,True,False,False,False,False,False,False,False
1,False,True,False,False,True,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
2,False,True,False,True,True,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
3,True,True,True,False,False,True,False,True,False,True,...,False,False,True,True,False,True,False,True,False,False
4,True,True,False,False,False,True,False,True,False,False,...,True,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7498,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7499,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [36]:
from mlxtend.frequent_patterns import apriori
apriori(df1, min_support=0.001)

     support    itemsets
0   0.001600         (0)
1   0.002000         (1)
2   0.001600         (5)
3   0.001200         (9)
4   0.001067        (12)
5   0.001067        (13)
6   0.001333        (14)
7   0.001467        (15)
8   0.001067        (17)
9   0.001333        (18)
10  0.001200        (19)
11  0.001200      (0, 1)
12  0.001467      (0, 5)
13  0.001200     (0, 19)
14  0.001067      (1, 5)
15  0.001067     (1, 15)
16  0.001067     (1, 18)
17  0.001067     (1, 19)
18  0.001067     (19, 5)
19  0.001067   (0, 1, 5)
20  0.001067  (0, 1, 19)
21  0.001067  (0, 19, 5)

In [37]:
frequent_itemsets1=apriori(df1, min_support=0.001, use_colnames=True) #Instead of column indices we can use column names.
frequent_itemsets1

     support   itemsets
0   0.001600        ( )
1   0.002000        (a)
2   0.001600        (e)
3   0.001200        (i)
4   0.001067        (l)
5   0.001067        (m)
6   0.001333        (n)
7   0.001467        (o)
8   0.001067        (r)
9   0.001333        (s)
10  0.001200        (t)
11  0.001200     (a,  )
12  0.001467     (e,  )
13  0.001200     (t,  )
14  0.001067     (e, a)
15  0.001067     (a, o)
16  0.001067     (s, a)
17  0.001067     (a, t)
18  0.001067     (e, t)
19  0.001067  (e, a,  )
20  0.001067  (a, t,  )
21  0.001067  (e, t,  )

In [38]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets1, metric="confidence", min_threshold=0.001)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(a),( ),0.002000,0.001600,0.001200,0.600000,375.000000,0.001197,2.496000
1,( ),(a),0.001600,0.002000,0.001200,0.750000,375.000000,0.001197,3.992000
2,(e),( ),0.001600,0.001600,0.001467,0.916667,572.916667,0.001464,11.980800
3,( ),(e),0.001600,0.001600,0.001467,0.916667,572.916667,0.001464,11.980800
4,(t),( ),0.001200,0.001600,0.001200,1.000000,625.000000,0.001198,inf
5,( ),(t),0.001600,0.001200,0.001200,0.750000,625.000000,0.001198,3.995200
6,(e),(a),0.001600,0.002000,0.001067,0.666667,333.333333,0.001063,2.994000
7,(a),(e),0.002000,0.001600,0.001067,0.533333,333.333333,0.001063,2.139429
8,(a),(o),0.002000,0.001467,0.001067,0.533333,363.636364,0.001064,2.139714
9,(o),(a),0.001467,0.002000,0.001067,0.727273,363.636364,0.001064,3.659333
10,(s),(a),0.001333,0.002000,0.001067,0.800000,400.000000,0.001064,4.990000
11,(a),(s),0.002000,0.001333,0.001067,0.533333,400.000000,0.001064,2.140000
12,(a),(t),0.002000,0.001200,0.001067,0.533333,444.444444,0.001064,2.140286
13,(t),(a),0.001200,0.002000,0.001067,0.888889,444.444444,0.001064,8.982000
14,(e),(t),0.001600,0.001200,0.001067,0.666667,555.555556,0.001065,2.996400
15,(t),(e),0.001200,0.001600,0.001067,0.888889,555.555556,0.001065,8.985600
16,"(e, a)",( ),0.001067,0.001600,0.001067,1.000000,625.000000,0.001065,inf
17,"(e, )",(a),0.001467,0.002000,0.001067,0.727273,363.636364,0.001064,3.659333
18,"(a, )",(e),0.001200,0.001600,0.001067,0.888889,555.555556,0.001065,8.985600
19,(e),"(a, )",0.001600,0.001200,0.001067,0.666667,555.555556,0.001065,2.996400
20,(a),"(e, )",0.002000,0.001467,0.001067,0.533333,363.636364,0.001064,2.139714
21,( ),"(e, a)",0.001600,0.001067,0.001067,0.666667,625.000000,0.001065,2.996800
22,"(a, t)",( ),0.001067,0.001600,0.001067,1.000000,625.000000,0.001065,inf
23,"(a, )",(t),0.001200,0.001200,0.001067,0.888889,740.740741,0.001065,8.989200
24,"(t, )",(a),0.001200,0.002000,0.001067,0.888889,444.444444,0.001064,8.982000
25,(a),"(t, )",0.002000,0.001200,0.001067,0.533333,444.444444,0.001064,2.140286
26,(t),"(a, )",0.001200,0.001200,0.001067,0.888889,740.740741,0.001065,8.989200
27,( ),"(a, t)",0.001600,0.001067,0.001067,0.666667,625.000000,0.001065,2.996800
28,"(e, t)",( ),0.001067,0.001600,0.001067,1.000000,625.000000,0.001065,inf
29,"(e, )",(t),0.001467,0.001200,0.001067,0.727273,606.060606,0.001065,3.662267
30,"(t, )",(e),0.001200,0.001600,0.001067,0.888889,555.555556,0.001065,8.985600
31,(e),"(t, )",0.001600,0.001200,0.001067,0.666667,555.555556,0.001065,2.996400
32,(t),"(e, )",0.001200,0.001467,0.001067,0.888889,606.060606,0.001065,8.986800
33,( ),"(e, t)",0.001600,0.001067,0.001067,0.666667,625.000000,0.001065,2.996800

In [39]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets1,metric="lift",min_threshold=0.001)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(a),( ),0.002000,0.001600,0.001200,0.600000,375.000000,0.001197,2.496000
1,( ),(a),0.001600,0.002000,0.001200,0.750000,375.000000,0.001197,3.992000
2,(e),( ),0.001600,0.001600,0.001467,0.916667,572.916667,0.001464,11.980800
3,( ),(e),0.001600,0.001600,0.001467,0.916667,572.916667,0.001464,11.980800
4,(t),( ),0.001200,0.001600,0.001200,1.000000,625.000000,0.001198,inf
5,( ),(t),0.001600,0.001200,0.001200,0.750000,625.000000,0.001198,3.995200
6,(e),(a),0.001600,0.002000,0.001067,0.666667,333.333333,0.001063,2.994000
7,(a),(e),0.002000,0.001600,0.001067,0.533333,333.333333,0.001063,2.139429
8,(a),(o),0.002000,0.001467,0.001067,0.533333,363.636364,0.001064,2.139714
9,(o),(a),0.001467,0.002000,0.001067,0.727273,363.636364,0.001064,3.659333
10,(s),(a),0.001333,0.002000,0.001067,0.800000,400.000000,0.001064,4.990000
11,(a),(s),0.002000,0.001333,0.001067,0.533333,400.000000,0.001064,2.140000
12,(a),(t),0.002000,0.001200,0.001067,0.533333,444.444444,0.001064,2.140286
13,(t),(a),0.001200,0.002000,0.001067,0.888889,444.444444,0.001064,8.982000
14,(e),(t),0.001600,0.001200,0.001067,0.666667,555.555556,0.001065,2.996400
15,(t),(e),0.001200,0.001600,0.001067,0.888889,555.555556,0.001065,8.985600
16,"(e, a)",( ),0.001067,0.001600,0.001067,1.000000,625.000000,0.001065,inf
17,"(e, )",(a),0.001467,0.002000,0.001067,0.727273,363.636364,0.001064,3.659333
18,"(a, )",(e),0.001200,0.001600,0.001067,0.888889,555.555556,0.001065,8.985600
19,(e),"(a, )",0.001600,0.001200,0.001067,0.666667,555.555556,0.001065,2.996400
20,(a),"(e, )",0.002000,0.001467,0.001067,0.533333,363.636364,0.001064,2.139714
21,( ),"(e, a)",0.001600,0.001067,0.001067,0.666667,625.000000,0.001065,2.996800
22,"(a, t)",( ),0.001067,0.001600,0.001067,1.000000,625.000000,0.001065,inf
23,"(a, )",(t),0.001200,0.001200,0.001067,0.888889,740.740741,0.001065,8.989200
24,"(t, )",(a),0.001200,0.002000,0.001067,0.888889,444.444444,0.001064,8.982000
25,(a),"(t, )",0.002000,0.001200,0.001067,0.533333,444.444444,0.001064,2.140286
26,(t),"(a, )",0.001200,0.001200,0.001067,0.888889,740.740741,0.001065,8.989200
27,( ),"(a, t)",0.001600,0.001067,0.001067,0.666667,625.000000,0.001065,2.996800
28,"(e, t)",( ),0.001067,0.001600,0.001067,1.000000,625.000000,0.001065,inf
29,"(e, )",(t),0.001467,0.001200,0.001067,0.727273,606.060606,0.001065,3.662267
30,"(t, )",(e),0.001200,0.001600,0.001067,0.888889,555.555556,0.001065,8.985600
31,(e),"(t, )",0.001600,0.001200,0.001067,0.666667,555.555556,0.001065,2.996400
32,(t),"(e, )",0.001200,0.001467,0.001067,0.888889,606.060606,0.001065,8.986800
33,( ),"(e, t)",0.001600,0.001067,0.001067,0.666667,625.000000,0.001065,2.996800